
.new-ann-button {
    width: 60%; 
    margin-left: 320px; 
    border-radius: 10px;
  }


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
}

.new-announcement-form {
    background-color: #f8f8f8;
    padding: 20px;
    margin: 0px;
    padding-top: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.new-announcement-form input,
.new-announcement-form textarea {
    
    display: block;
    align-items: start;
    border: 1px solid #ccc;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup button {
    margin: 10px;
}


.input-title {
    width: 70%; 
    padding: 8px 10px; 
    font-size: 16px; 
    margin: 10px 0;     
}

.textarea-description {
    width: 70%; 
    height: 150px; 
    padding: 8px 10px; 
    font-size: 15px; 
    margin-bottom: 15px;
}
