.Home-layout {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Using the full height of the viewport */
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 30px !important;
  background-color: #f5f5f5 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start !important; /*flex-start*/
}

.right-content {
  margin-left: auto;
}
.top-bar-button {
  margin: 0 5px;
  justify-content: space-between;
  margin-left: auto;
  float: right !important;
  border: none;
  color: rgb(0, 0, 0);
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}

.top-bar-button img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}


/* Update announcement-section for better visibility and alignment */
/* Announcement section occupies the remaining space */
.announcement-section {
  width: 60%; /* Full width minus sidebar width plus gap */
  margin-left: 320px; /* Offset by the width of the sidebar */
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 15px; /* Offset from the top bar */
}


.iyte-logo {
  height: 50px; /* Slightly less than the top bar's height for padding */
  width: auto; /* Maintain aspect ratio */
  margin-left: 50px; /* Push to the right, outside the sidebar */
  left: 10px;
}
.user-icon {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  /*margin-right: 10px !important; /* Adds some space between the image and the button text */
}

.title {
  font-size: 24px;
  color: #333;
}

/* Text styles within announcement section */
.text {
  color: #666;
  font-size: 16px;
  text-align: center;
}

/* Underline style beneath the title */
.title-underline {
  height: 2px;
  background: #3a3232;
  width: 175px !important;
}

.sidebar {
  position: fixed;
  top: 50px; /* Below the top bar */
  left: 0;
  width: 300px !important;
  height: calc(100% - 50px) !important; /* Height adjusted to be below the top bar */
  background-color: #f5f5f5 !important;
  overflow-y: auto;
  z-index: 1;
  
}

.companies-list-container {
  margin-left: 300px; /* Push right to avoid overlapping with the sidebar */
  margin-top: 50px; /* Push down to avoid overlapping with the top bar */
  padding: 20px;
  width: calc(100% - 320px); /* Adjust width to account for sidebar and padding */
  height: calc(100% - 70px); /* Adjust height considering top bar and some margin */
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow-y: auto;
}

/* Ensure proper layout of sidebar buttons and info-blocks */
.sidebar-btn, .info-blocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: #000 !important;
  gap: 9px;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  position: relative;
}
.sidebar-btn:hover {
  background-color: #a1a1a1 !important;
  color: #ffffff !important;
}


.internship-info, .company-info {
  /* display: fixed; */
  color: #000000 !important;
  align-items: center;
  font-family: 'Futura', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  width: 100%;
  /* padding: 10px; */
  /* margin-top: 30px; */
  position: relative;
}

/* Additional tweaks to ensure consistency */
.info-blocks {
  padding: 10px !important;
  background-color: #f5f5f5 !important; /* Dark background for consistency with sidebar */
  color: #000000 !important; /* Text color for readability */
}

/* Style for sidebar links to mimic buttons */
.link-button {
  display: block;
  padding: 10px 20px;
  margin: 5px 0;
  background-color: #8a8484 !important; /* Adjust color to match your theme */
  color: rgb(255, 255, 255) !important;
  text-decoration: none; /* Remove underline from links */
  border-radius: 5px; /* Optional: add border radius for rounded corners */
  text-align: center; /* Center text within the button */
  font-weight: bold; /* Make text bold */
  cursor: pointer; /* Change cursor to pointer to indicate clickable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.mlink-button{
  display: block;
  padding: 5px 15px;
  margin: 5px 0;
  background-color: #7e7676; /* Adjust color to match your theme */
  color: white;
  text-decoration: none; /* Remove underline from links */
  border-radius: 5px; /* Optional: add border radius for rounded corners */
  text-align: center; /* Center text within the button */
  font-weight: bold; /* Make text bold */
  cursor: pointer; /* Change cursor to pointer to indicate clickable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.mlink-button:hover {
  background-color: #a09b9b !important; /* Slightly darker on hover for visual feedback */
}

.link-button:hover {
  background-color: #a09b9b !important; /* Slightly darker on hover for visual feedback */
}

/* Ensure dropdown content does not overflow off the screen */
.dropdown-content {
  position: relative; /* Adjust positioning */
  padding: 10px;
  background-color: #cabfbf !important; /* Your preference for background */
  border-radius: 5px; /* Rounded corners for dropdown */
  box-shadow: 0 8px 16px 0 #bdb8b8 !important; /* Shadow for dropdown */
  z-index: 1; /* Keeps dropdown on top of other content */
  overflow: hidden; /* Hide overflow */
  color: #000000 !important;
}   

/* Additional styling for nested dropdowns to manage overflow */
.nested-dropdown-content, .nested-dropdown {
  overflow-y: auto; /* Allow scrolling within nested dropdowns */
  max-height: 200px; /* Limit height and enable scroll */
  color: #000000 !important;
}

/* Scrollbar styling for better aesthetics */
.sidebar::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar itself */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #A1A1A1 !important; /* Color when hovered */
}
.download-button {
  float: right;
  margin-right: 0px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.download-button:hover {
  background-color: #0056b3;
}

.v2-button-bg {
  background-color: rgb(153 27 27) !important;
}

.v2-button-bg:hover {
  background-color: rgb(185 27 27) !important;
}

.w-full-padding {
  width: 100%;
  padding: 20px 40px;
}

.shadow-sm {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 8px;
}

.p-sm {
  padding: 2px 20px;
}

