.login-signup-container {
    text-align: center;
    height: 100vh; /* Sets the container height to fill the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the form in the available space */
}

.top-bar {
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
.top-bar-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 20px;
}
.top-bar button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: transparent !important;
    cursor: pointer;
}

.top-bar button.active {
    border-bottom: 2px solid #a5a5a5 !important;
}
.top-bar button:hover {
    background-color:  #c5c5c5 !important;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    width: 500px;
    background: #f5f5f5;
    padding-bottom: 20px;
    padding-top: 30px;
    border-radius: 50px;
}

h2 {
    margin-bottom: 20px; /* Space below the title */
    font-style:initial;
}
.inputs{
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 380px; /* Ensures full width within the form container */
    
    height: 50px;
    background: #fff;
    border-radius: 15px;
    border: 2px solid #c0cec6;
}

.input-container img {
    margin: 0 30px;
}



.input-container input {
    height: 50px;
    width: 320px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 19px;
}

.selectInternshipType {
    border:none;
    outline: none;
    width: 100%;
    height:50px;
    font-size:19px;
    border-radius:15px;
}
.selectInternshipType option[value=""][selected] {
    color: gray;
}

.selectInternshipType:invalid {
    color: gray;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 30px auto;
}


.submit {
    background-image: linear-gradient(to right, #e0e0e0 0%, #ff5858 100%);
    border-radius: 40px;
    box-sizing: border-box;
    display: block;
    height: 50px;
    font-size: 1.6em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
    color: #0b1633 ;
}
  
.submit:hover {
    color: #fff;
}
  
.submit .submitspan {
    align-items: center;
    background: #f9f6ee;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}
  
.submit:hover .submitspan {
    background: transparent;
}

.gray{
    background: #eaeaea;
    color: #676767;
}

.gray:hover{
    background: #eaeaea !important;
    color: #ffffff !important;
    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.loginTitle{
    color: #0b1633;
    font-size: 30px !important;
    font-weight: 500 !important;
}




