.login-signup-container {
    background-image: url('../Components/Assets/iyte-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh; /* Sets the container height to fill the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the form in the available space */
    overflow-y: auto;
}

.login-signup-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.45)!important;
}

.top-bar {
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
.top-bar-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 20px;
}
.top-bar button {
    padding: 24px 20px;
    border-radius: 0;
    margin: 0;
    font-weight: 400;
    border: none;
    color: rgb(51 65 85);
    background-color: transparent !important;
    cursor: pointer;
    transition: .2s background-color;
}

.top-bar button.active {
    border-bottom: 3px solid rgb(157, 31, 29) !important;
}

.top-bar button:hover {
    background-color:  #c5c5c5 !important;
    border-bottom: 3px solid rgb(157, 31, 29) !important;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    width: 500px;
    background: #f5f5f5;
    padding-bottom: 20px;
    padding-top: 30px;
    border-radius: 50px;
}

.form-container-v2 {
    overflow-y: auto;
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    right: 0;
    left: 0;
    width: 500px;
    background: white;
    padding-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);}


h2 {
    margin-bottom: 20px; /* Space below the title */
    font-style:initial;
}
.inputs{
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 380px; /* Ensures full width within the form container */
    
    height: 50px;
    background: #fff;
    border-radius: 6px;
    border: 2px solid #c0cec6;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.input-container:hover {
    background-color: #f5f5f5;
}

.input-container img {
    margin: 0 30px;
}



.input-container input {
    height: 50px;
    width: 320px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 19px;
}

.selectInternshipType {
    border:none;
    outline: none;
    width: 100%;
    height:50px;
    font-size:19px;
    border-radius:15px;
}
.selectInternshipType option[value=""][selected] {
    color: gray;
}

.selectInternshipType:invalid {
    color: gray;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.submit-container{
    display: flex;
    justify-content: center;
    margin: 0px auto;
}


.submit {
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
    display: block;
    height: 50px;
    font-size: 1.5em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
    color: #0b1633 ;
    
}
  
.submit:hover {
    background-color: white;
}
  
.submit .submitspan {
    align-items: center;
    border-radius: 4px;
    border: 2px rgb(157, 31, 29) solid;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background-color 0.5s ease;
    width: 100%;
}
  
.submit:hover .submitspan {
    background-color: rgb(157, 31, 29);
    color: white;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 40px;
}

.loginTitle{
    color: rgb(51 65 85);
    font-size: 32px !important;
    font-weight: 500 !important;
}




