.student-icon, .announcement-icon, .grade-icon, .company-icon {
    width: 24px;
    height: 24px;
}

.user-icon {
    margin-right: 10px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    width: 100%;
}

.loading-img {
    width: 150px;
    height: 150px;
}
